@font-face {
  font-family: MavenProRegular;
  src: url(assets/MavenPro-Regular.ttf);
}

@font-face {
  font-family: LatoRegular;
  src: url(assets/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoBold;
  src: url(assets/Lato-Bold.ttf)
}

body {
  width: 1020px;
  margin: auto;
}

h1 {
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.nav {
  height: 63px;
  background-color: #323232;
}

li {
  display: inline;
  list-style-type: none;
  font-family: "LatoBold";
  position: relative;
  text-align: justify;
  font-size: 9px;
}

.item-1 {
  position: relative;;
  top: -57px;
  left: 288px;
}

.item-2 {
  position: relative;
  top: -57px;
  left: 306px;
}

.dote-1 {
  position: relative;
  top: -57px;
  left: 299px;
  color: #484c5f;
}

.item-3 {
  position: relative;
  top: -57px;
  left: 444px;
}

.dote-2 {
  position: relative;
  top: -57px;
  left: 452px;
  color: #484c5f;
}

.item-4 {
  position: relative;
  top: -57px;
  left: 461px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #2f9f88;
}

.triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 13px;
}

.triangle-down {
  width: 0;
	height: 0;
	border-left: 47px solid transparent;
	border-right: 47px solid transparent;
  border-top: 29px solid#323232;;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hexagon-container {
  height: 692px;
}

.hexagon {
  width: 180px;
  height: 210px;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  margin: 10px;
}

.hex-layer-1 {
width: 100%;
height: 100%;
transform: rotate(-60deg);
overflow: hidden;
visibility: hidden;
}

.hex-layer-2 {
width: 100%;
height: 100%;
transform: rotate(-60deg);
overflow: hidden;
visibility: visible;
}

.row {
  display: flex;
  justify-content: center;
}

.first-row {
  margin-top: 50px;
}

.one {
  background-image: url(assets/Layer33@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.two {
  background-image: url(assets/Layer31@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.three {
  background-image: url(assets/Layer34@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.four {
  background-image: url(assets/Layer35@1X.png);
  background-repeat: no-repeat;
  background-position: 48% 110%;
}

.second-row {
  display: flex;
  margin-top: -62px;
  margin-left: 10px;
}

.five {
  background-image: url(assets/Layer36@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.six {
  background-image: url(assets/Layer44@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.seven {
  background-image: url(assets/Layer37@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.eight {
  background-image: url(assets/Layer38@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.nine {
  background-image: url(assets/Layer39@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.third-row {
  display: flex;
  margin-left: 110px;
  margin-top: -63px;
}

.ten {
  background-image: url(assets/Layer40@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.eleven {
  background-image: url(assets/Layer41@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.twelve {
  background-image: url(assets/Layer43@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.thirteen {
  background-image: url(assets/Layer42@1X.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.caption {
  font-family: MavenProRegular;
  font-size: 40px;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
}

.subtitle {
  font-family: MavenProRegular;
  font-size: 24px;
  color: rgba(32, 129, 109, 255);
  text-align: justify;
}

.description {
  font-family: LatoRegular;
  font-size: 16px;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
}

.info {
  background-color: #2eb398;
  height: 341px;

}
.form {
  height: 549px;
}

.bottom {
  height: 43px;
  background-color: #222222;
}

.bottom-row {
  position: relative;
  top: 14px;
  left: 40px;
  font-family: MavenProRegular;
  font-size: 8.65655pt;
  color: rgba(69, 69, 69, 255);
  text-align: justify;
}